*{
  font-family: "Times New Roman", Times, serif;
  background-color: antiquewhite;
  margin: auto;
}

h1{
  color:darkslategray;
  text-align:center;
  font-size: 40px;
}


p.intro{
  color: darkslategray;
  text-align:center;
  font-weight: bold;
}

#tutorial{
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}

div.instructions {
  margin: auto;
  width: 50%;
  border: 3px solid maroon;
  padding: 10px;
}

div.tips{
  margin: auto;
  width: 50%;
  border: 3px solid darkgreen;
  padding: 10px;
}

#tips-title{
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

h2{
  font-size: 20px;
  text-align: center;
  color: navy;
}


div.Dodgecoin{
  margin: auto;
  width: 50%;
  border: 3px solid teal;
  padding: 10px;
}

#Dodgecoin-title{
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

#Dodgecoin-screenshot{
  display: block;
  margin: auto;
}

#my-dog{
  display: block;
  margin: auto;
  width: 30%;
}
